.progress-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px; 
    background-color: #783dcb;
    border-radius: 10px;
}

.progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ddd;
    width: 100%;
    animation: progress-animation 10s linear backwards;
    border-radius: 10px;
    overflow: hidden;
}

@keyframes progress-animation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
