.flip-card-inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card-front,
.flip-card-back {
  position: fixed;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card {
    perspective: 1000px; 
  }