.AimTrainer {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 500px;
}

.gameContainer {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #201c1c;
  background-color: #131010;
  background-color: #0e0c0c;

  -webkit-box-shadow: 0px 0px 12px 3px #1c1c1c;
  -moz-box-shadow: 0px 0px 12px 3px #1c1c1c;
  box-shadow: 0px 0px 12px 3px #1c1c1c;
  gap: 20px;
  border: 2px solid #783dcb;
  /* background-color: #4663ac; */
  /* background-color: #2b87d1; */
  /* box-shadow: 0px 0px 24px 2px rgba(255, 255, 255, 255); */
}

.musicTrigger {
  position: absolute;
  top: 100px;
  left: 11%;
}

.aimTarget {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: red;
  border-radius: 50%;
  border: 4px solid #783dcb;
}

.aimTarget:hover {
  opacity: 0.7;
}

.turnsLeft {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
}

.finalStat {
  font-size: 25px;
}

.buttonSection {
  min-width: 400px;
  gap: 40px;
  display: flex;
  justify-content: center;
}

/* .buttonSection button { */
/* border-radius: 10px;
  border: 3px solid #783dcb;
  color: #783dcb;
  min-width: 150px;
  background-color: #302c2c;

  transition: scale 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-weight: bold; */

.lostButton {
  border-radius: 10px;
  border: 2px solid #783dcb;
  padding: 6px;
  padding-inline: 20px;
  width: 30vw;
  max-width: 250px;
  font-size: 2rem;
  transition: background-color 0.2s ease-in-out, scale 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lostButton:hover {
  background-color: #9d67e7;
  scale: 1.1;
}
/* } */

.buttonSection button:hover {
  scale: 1.1;
  border: 3px solid #783dcb;

  background-color: rgb(137, 83, 212);
  color: white;
  /* rgb(137, 83, 212) */
}

.averageTime {
  font-size: 50px;
}

.instructionInfo {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-size: 20px;
}
